<section class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let curso of lista">
      <div class="card text-center">
        <img src="../../../assets/images/cursos/comunicacion.jpg" class="card-img-top image-hover" alt="comu_image">
        <div class="card-body">
          <h4 class="card-title">{{curso.nombre}} </h4>
          <p class="card-text">{{curso.descripcion}}</p>
          <a href="#" class="btn neon-btn blue">Leer más</a>
        </div>
      </div>
    </div>
  
    
  </div>
</section>
